
<div class="d-flex justify-content-between">
    <div><h1>Successfully Registered!</h1></div>
    <div><a asp-controller="Account" asp-action="LoginIndex" class="btn btn-primary">Login</a></div>
</div>

